<div class ="container">
 <div class ="row">
  <h5>注文情報確認</h5>
 </div>
 <div class="col-md-8">
 <table class ="table">
  <thead>
   <tr>
    <th>商品名</th>
    <th>数量</th>
    <th>単価</th>
    <th>小計</th>
   </tr>
  </thead>
   <% @cart_items.each do |cart_item| %>
   <% item = cart_item.item %>
  <tbody>
   <tr>
    <td><%= item.name %></td>
   </tr>
  </tbody>
  <% end %>
 </table>
</div>
</div>